.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  outline: none;
  cursor: pointer;
  transition: 200ms ease-out;
  border: 1px solid var(--ho__dark-primary-transparent);
  background: var(--ho__light-primary);

  &:not(&:disabled) {
    border: 1px solid var(--ho__dark-primary);

    &:hover {
      background: white;
    }
  }

  & > div:first-child {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
  }
}

.eventsField {
  position: absolute;
  clip-path: circle(50%);
}