.container {
  padding: 0 78px;
  position: relative;
  height: max-content;
}

.marked {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 5px;
  background: linear-gradient(var(--ho__blue), var(--ho__red));
}