@import '../_shared/styles/mixins';

.container {
  margin: 0 8% 0 16%;
  aspect-ratio: 4/ 3;
  border: 1px solid var(--ho__dark-primary-transparent);
  border-bottom: none;
  border-top: none;
}

.content {
  font-family: var(--ho__font-family-primary), 'sans-serif' !important;
  color: var(--ho__font-color-primary);
  transition: opacity 500ms;
  @include flex(space-between, unset, column);
  max-height: 100%;
  width: 1440px;
  aspect-ratio: calc(1 / 1.33);
  transform-origin: left top;
  padding: 170px 0 104px;
}

.button {
  color: var(--ho__dark-primary);
  font-size: 20px;
  font-weight: 400;

  .caption {
    transition: 200ms ease-out;
    opacity: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    left: 100%;
    position: absolute;
    pointer-events: none;
    white-space: nowrap;
    transform: translateX(20px);
    font-weight: 700;

    &.activeCaption {
      opacity: 1;
    }
  }

  &.inactiveColor:not(:hover) {
    background: #42567A !important;
  }

  &.activeButton, &:hover {
    width: 50px !important;
    height: 50px !important;
  }
}


.disappearedContent {
  transition-delay: 100ms;
  height: 135px;
  width: 100%;
}

.swiperBtn {
  position: absolute !important;
  top: 50%;

  &.right {
    transform: translate(100%, -50%);
    right: 0;
  }

  &.left {
    left: 0;
    transform: translate(-100%, -50%);
  }
}

.swiper {
  left: 0;
  right: 0;
}

