@import '_shared/_styles/mixins';

.container {
  margin: 0 8% 0 16%;
  aspect-ratio: 4/ 3;
  border: 1px solid var(--ho__dark-primary-transparent);
  border-bottom: none;
  border-top: none;
}

.content {
  font-family: var(--ho__font-family-primary), 'sans-serif' !important;
  color: var(--ho__font-color-primary);
  transition: opacity 500ms;
  @include flex(space-between, unset, column);
  height: 1080px;
  width: 1440px;
  transform-origin: left top;
  padding: 170px 0 104px;
}


.disappearedContent {
  transition-delay: 100ms;
  height: 135px;
  width: 100%;
}

