@import "../../_shared/styles/mixins";

.container {
  margin: 0 10% 0 320px;
  position: relative;
  border: 1px solid var(--ho__dark-primary);
  border-top: none;
  border-bottom: none;
  width: 100%;
  height: 100%;
}