@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    position: fixed;
    inset: 0;
    overflow: hidden;
}

:root {
    --dark-primary: #42567A;
    --dark-primary-transparent: rgba(66, 86, 122, 0.1);
    --light-primary: rgb(242, 242, 247);
    --history-font-family-primary: 'PT Sans', sans-serif;
    --history-font-family-secondary: 'Bebas Neue', sans-serif;
    --font-color-primary: var(--dark-primary);
    --blue: #3877EE;
    --red: red
}